body { margin: 0; }
canvas { display: block; }

.text {
    position: absolute;
    top: 50px;
    left: 50px;

    border: 2px solid white;
    
    color: white;

    padding: 5px;

    font-size: 24px;
}